.sidebar {
	height: 100%;
	position: fixed;
	background-color: #EEEEEE;

	display: none;
	transition: left 0.5s ease;
}

.sidebar .nav-item {
	margin: 10px;
	text-decoration: none;
	color: black;
}

.sidebar .nav-item  a {
	text-decoration: none;
	color: black;
}